.detail-container {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  overflow: hidden;
  padding: 1.5em;
}

.block-description-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#modelo{
    font-size: 16px;
    font-weight: bold;
}

#marca-tipo {
  font-size: 12px;
  font-weight: 400;
}

#detail-description {
  font-size: 12px;
  font-weight: 400;
}

.detail-img {
  width: 30%;
  height: 100%;
  background-color: #f8f5f5;
}

.inputs-row span {
  font-size: 24px;
  font-weight: 400;
}

.inputs-values {
  display: flex;
  align-items: center;
  margin: 2em 0 2em 0;
  margin-top: 2em;
  gap: 1em;
}

.inputs-values label {
  font-size: 12px;
  font-weight: 400;
}

.inputs-values div {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.inputs-values div input {
  border-radius: 5px;
  border: 1px solid #8f8d8d;
  height: 2.3em;
  
}

.quotes-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  background: #e7e6e6;
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: 3em;
}

.inputs-bottom-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.inputs-bottom-content div {
  display: flex;
  flex-direction: column;
}

.inputs-bottom-content div input {
  border-radius: 5px;
  border: 1px solid #8f8d8d;
  height: 2.3em;
}

.inputs-bottom-content label{
    font-size: 12px;
    font-weight: 400;
}

#p-detail-btn-send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

.quote-data-row h3 {
  margin: 0;
}

.quote-data-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30%;
}

.quote_data-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.6em;
}

.quote_data-head h3 {
  font-weight: 300;
}

#quote-value,
#quote-month {
  font-weight: bold;
}

#quote-value {
  font-size: 18px;
}
.vertical-line {
  border-left: 1px solid #8f8d8d;
  height: 15em;
}

.vertical-line-section{
    border-left: 1px solid #8f8d8d;
    height: 120vh;
    margin: 0 2em 0 .3em;
}

.detail-container #price-container{
    display: flex;
    flex-direction: column;
}

#price-container .value-field{
    font-size: 24px;
    font-weight: 600;
}

#price-container-disclaimer{
    font-size: 12px;
    font-weight: 400;
}

.quote-body div {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.value-to-pay span {
  font-weight: bold;
}

.data-container{
display: flex;
justify-content: space-around;
width: 100%;
}

/* popup detalle del producto */

.image-navigation {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  
  .full-image {
    display: block;
    margin: 0 auto;
  }

  .nav-left-button {
    background-color: #B4924E;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-70%);
  }

  .nav-right-button {
    background-color: #B4924E;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(70%);
  }


