.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3.5em;
  padding: 16px;
}

.credit-button-container {
  height: 4em;
}

.credit-button-container button {
  padding: 10px 20px;
  width: 100%;
  height: 70%;
  font-weight: bold;
  background-color: #3eaf2a;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #343232;
}






