.moto-container {
  max-width: 700px;
  margin: 0 auto;
}

.image-wrapper {
  position: relative;
  margin-bottom: 2em;
  height: 50%;
  background: #e7e6e6;
}

.col-detail {
  width: 100%;
}

#col-detail-img {
  max-width: 30%;
  padding-right: 1em;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.maximize-button {
  font-size: medium;
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.maximize-button:hover {
  border: 1px solid #8f8d8d;
}

.icon {
  width: 24px;
  height: 24px;
  color: whitesmoke;
}

.maximize-icon {
  width: 30px;
  height: 30px;
  background:  rgba(134, 134, 134, 0.668);;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  width: 100%;
}

@media (max-width: 600px) {
  .dialog-content {
    width: 70%; /* Aumentar el ancho en pantallas pequeñas */
    padding: 12px; /* Reducir el padding */
    height: 250px;
  }

  #thumbnail-popup{
    display: none;
  }
}

.full-image {
  width: 90%;
  height: auto;
}

.close-button {
  position: absolute;
  top: -19px;
  right: -60px;
  font-weight: 600;
  padding: 8px;
  cursor: pointer;
}

.thumbnail-grid {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 2em;
}

.thumbnail-button {
  border: none;
  padding: 0;
  cursor: pointer;
  width: 12%;
  height: 100%;
  background: blueviolet;
  border-radius: 5px;
}

.thumbnail-button-popup {
  width: 50px;
  display: flex;
  justify-content: center;
}

.thumbnail-popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1em;
}

#header {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #8f8d8d;
  border-radius: 5px;
}

.thumbnail-button.active .thumbnail-image {
  border: 2px solid #b4924e;
}
