.text-content {
  padding: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 80%;
  font-size: 26px; 
}

.text-container{
    display: flex;
    justify-content: center;
}

#text-contet-sub-title {
    font-size: 18px;
    font-weight: 600;
    color: #393939;
}

.container .content {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5em;
    padding: .7em;
}

.text-content h1 {
    color: #B4924E;
}

.disclaimer {
    display: flex;
    font-size: small;
    font-weight: 500;
    color:#707070;
}

.image-content img {
    width: 100%;
    height: auto;
}

.image-content{
  min-width: 55%;
}

@media screen and (max-width: 874px) {
    .image-content {
      display: none;
    }

    .text-content h1 {
      font-size: 3rem;
    }

    .text-content {
      max-width: 100%;
    }
  
    .main-content .highlight-text {
      font-size: 2rem; /* Ajustar el tamaño de la fuente */
    }
  
    .main-content .disclaimer {
      font-size: 0.875rem; /* Disminuir la fuente para el disclaimer */
    }
  }