.detail-container {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  padding: 2em;
}

.block-description-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#modelo {
  font-size: 16px;
  font-weight: bold;
}

#marca-tipo {
  font-size: 12px;
  font-weight: 400;
}

#detail-description {
  font-size: 12px;
  font-weight: 400;
}

.detail-img {
  width: 30%;
  height: 100%;
  background-color: #f8f5f5;
}

.inputs-row span {
  font-size: 24px;
  font-weight: 400;
}

.inputs-values {
  display: flex;
  align-items: center;
  margin: 2em 1em 2em 0;
  margin-top: 2em;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

#input-valor-moto {
  min-width: 40%;
}

.inputs-values label {
  font-size: 12px;
  font-weight: 400;
}

.inputs-values div {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

#input-cuota-inicial {
  width: 40%;
}

#input-descuento {
  max-width: 15%;
}
#valor-financiar {
  width: 40%;
}

.colors-list {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

#valor-financiar div {
  border-radius: 5px;
  border: 1px solid #8f8d8d;
  height: 2.3em;
  padding: 5px;
  background: #d3d1d1;
}

.inputs-values div input {
  border-radius: 5px;
  border: 1px solid #8f8d8d;
  height: 2.3em;
}

.quotes-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  background: #e7e6e6;
  border-radius: 10px;
  padding: 1.5em;
  margin: 0 1em 3em 0;
}

.inputs-bottom-content {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding: 1em 1em 1em 0;
  justify-content: center;
}

.inputs-bottom-content div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.inputs-bottom-content div input {
  border-radius: 5px;
  border: 1px solid #8f8d8d;
  height: 2.3em;
  min-height: 3.5em;
  font-size: 10px;
  padding-left: 5px;
}

.inputs-bottom-content label {
  font-size: 12px;
  font-weight: 400;
}

#p-detail-btn-send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

#p-detail-btn-send button {
  width: 10em;
  padding: 0.75rem;
  background-color: #00955c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.quote-data-row h3 {
  margin: 0;
}

.quote-data-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30%;
}

.quote_data-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.6em;
}

.quote_data-head h3 {
  font-weight: 300;
}

#quote-value,
#quote-month {
  font-weight: bold;
}

#quote-value {
  font-size: 18px;
}
.vertical-line {
  border-left: 1px solid #8f8d8d;
  height: 15em;
}

.vertical-line-section {
  border-left: 1px solid #8f8d8d;
  height: 120vh;
  margin: 0 2em 0 0.3em;
}

.detail-container #price-container {
  display: flex;
  flex-direction: column;
}

#price-container .value-field {
  font-size: 24px;
  font-weight: 600;
}

#price-container-disclaimer {
  font-size: 12px;
  font-weight: 400;
}

.quote-body div {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.value-to-pay span {
  font-weight: bold;
}

.data-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.data-container:last-child {
  margin: 0;
}

/* popup detalle del producto */

.image-navigation {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.full-image {
  display: block;
  margin: 0 auto;
}

.nav-left-button {
  background-color: #b4924e;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-70%);
}

.col-detail {
  max-width: 75%;
}

.nav-right-button {
  background-color: #b4924e;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(20%);
}

main {
  margin-left: 0;
}

/* Estilos base (Mobile-first) */

/* Teléfonos pequeños y tablets medianas(320px - 768px) */
@media (min-width: 320px) and (max-width: 860px) {
  .detail-container {
    flex-direction: column;
    padding: 0;
  }

  .vertical-line-section {
    border-bottom: 1px solid #8f8d8d;
    height: unset;
  }

  .col-detail {
    max-width: unset;
    padding: 1em;
  }

  #col-detail-img {
    min-width: 100%;
    padding: 1em;
  }

  #p-detail-btn-send {
    justify-content: center;
  }

  .thumbnail-button {
    max-width: 10%;
  }
}

/* Portátiles y pequeñas pantallas de escritorio (1025px - 1200px) */
@media (min-width: 769px) and (max-width: 1100px) {
  .inputs-bottom-content {
    gap: 1em;
  }

  .inputs-bottom-content div {
    width: 100%;
  }

  .quotes-content {
    margin: 0 1em 1em 0;
  }
}

/* Escritorio (1201px - 1440px) */
@media (min-width: 320px) and (max-width: 640px) {
  .quotes-content {
    margin: 0 1em 1em 0;
  }
  .inputs-values {
    justify-content: space-between;
  }
  .inputs-bottom-content {
    margin-bottom: 1em;
  }
}

@media (min-width: 320px) and (max-width: 620px) {
  .quotes-content .data-container {
    flex-direction: column;
  }

  .quote-data-row {
    border-right: none !important;
    border-bottom: 1px solid #2f2e2e;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #input-descuento {
    max-width: 20%;
  }
}

@media (min-width: 320px) and (max-width: 520px) {
  .inputs-bottom-content {
    flex-direction: column;
  }
  .inputs-bottom-content div {
    width: 100%;
  }

  .inputs-values {
    justify-content: unset;
  }

  #input-descuento {
    max-width: 30%;
  }

  #input-cuota-inicial {
    width: 59%;
  }
  #valor-financiar {
    width: 100%;
  }
}
